@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;600&family=Satisfy&display=swap");
body {
  background-color: ivory;
}

#header {
  font-family: 'Dancing Script';
  background-color: crimson;
  color: whitesmoke;
}

.center {
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: auto;
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.btn {
  font-size: 20px;
  font-weight: 400;
}

#family-btn {
  border: 2px solid skyblue !important;
  color: skyblue;
}

#family-btn:hover {
  background-color: skyblue !important;
  color: white;
}

#friend-btn {
  border: 2px solid yellow !important;
  color: yellow;
}

#friend-btn:hover {
  background-color: yellow !important;
  color: white;
}

#lover-btn {
  border: 2px solid maroon !important;
  color: maroon;
}

#lover-btn:hover {
  background-color: maroon !important;
  color: white;
}

#frenemy-btn {
  border: 2px solid black !important;
  color: black;
}

#frenemy-btn:hover {
  background-color: black !important;
  color: white;
}

.bCard {
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-shadow: 2px 2px 2px 4px #bdbaba;
          box-shadow: 2px 2px 2px 4px #bdbaba;
}

.bCard .cardImg, .bCard .cardBody {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.bCard .cardImg {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.bCard .cardImg img {
  width: 300px;
}

.bCard .cardBody {
  padding: 20px;
  font-family: 'Satisfy', cursive;
  color: whitesmoke;
}

.bCard .cardBody .cardTitle {
  font-size: 30px;
  padding: 10px;
  font-weight: bold;
}

.bCard .cardBody .cardText {
  font-size: 22px;
  padding: 15px;
  font-weight: 600;
}

.bCard .cardBody .cardSignature {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  padding-right: 60px;
  font-size: 22px;
  font-weight: 600;
}

#family-card {
  border: 2px solid skyblue;
  background-color: skyblue;
  display: none;
}

#friend-card {
  border: 2px solid #f7f77a;
  background-color: #f7f77a;
  display: none;
}

#friend-card .cardBody {
  color: black;
}

#lover-card {
  border: 2px solid maroon;
  background-color: maroon;
  display: none;
}

#frenemy-card {
  border: 2px solid black;
  background-color: black;
  display: none;
}

@media screen and (min-width: 1024px) {
  .card {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal !important;
    -webkit-box-direction: normal !important;
        -ms-flex-direction: row !important;
            flex-direction: row !important;
  }
}
/*# sourceMappingURL=style.css.map */